div {
    a {
        text-decoration: none;
        color: white;
        font-size: small;
        box-sizing: border-box;
        gap: 1rem;

        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 1rem;
        }
    }
}
