.main-container {
    padding: 2rem;
}

.games-container {
    gap: 2rem;
}

.game-card {
    color: white;
    text-decoration: none;
    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
}
