body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
